---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Anim from "../components/BgCanvasAnim.astro";

import Type from "../components/Typewriter.astro";
import Tech from "../components/TechMarquee.astro";
import ContentList from "../components/ContentList.astro";

import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    <style>
      .hide-scrollbar {
        scrollbar-width: none; /* Firefox */
        -ms-overflow-style: none; /* IE & Edge */
      }
      .hide-scrollbar::-webkit-scrollbar {
        display: none; /* Chrome, Safari */
      }
    </style>
  </head>
  <body>
    <main class="relative">
      <Header />
      <section id="anim" class="sticky top-22 h-screen bg-gray-900 p-10">
        <h1 class="md:text-9xl text-7xl font-bold text-white">AR_04</h1>

        <div class="flex">
          <p class="md:text-4xl text-1xl text-white">
            Hi there, I am intersted in&nbsp
            <Type words={'["Music", "Games", "Anime"]'} />
          </p>
        </div>
      </section>

      <Anim anim="/portfolio_site/vanta.bird.min.js" />

      <section class="sticky top-22 h-screen bg-gray-200 p-10">
        <h1 class="md:text-7xl text-5xl font-bold text-black">TECHS_I_USED:</h1>
        <div
          class="absolute top-1/2 -translate-y-1/2 w-full left-0 right-0 p-5"
        >
          <div>
            <Tech />
            <Tech reverse={true} />
            <Tech />
            <Tech reverse={true} />
          </div>
        </div>
      </section>

      <section class="sticky top-22 h-screen bg-white p-10">
        <h1 class="md:text-7xl text-5xl font-bold text-black">PR0JECTS:</h1>
        <div class="absolute top-1/2 -translate-y-1/2 w-full left-0 right-0">
          <div
            class="overflow-x-auto hide-scrollbar
              [mask-image:linear-gradient(to_right,transparent,black_2%,black_98%,transparent)]
              [mask-repeat:no-repeat] [mask-size:100%_100%]
              [&>ul]:space-x-10
              [&>ul]:flex [&>ul>li]:flex-shrink-0 [&>ul>li]:w-1/1 [&>ul>li]:md:w-1/2"
          >
            <ContentList content="projects" limit="10" />
          </div>
        </div>
      </section>

      <section class="sticky top-22 h-screen bg-gray-200 p-10">
        <h1 class="md:text-7xl text-5xl font-bold text-black">BL0GS:</h1>
        <div class="absolute top-1/2 -translate-y-1/2 w-full left-0 right-0">
          <div
            class="overflow-x-auto hide-scrollbar
              [mask-image:linear-gradient(to_right,transparent,black_2%,black_98%,transparent)]
              [mask-repeat:no-repeat] [mask-size:100%_100%]
              [&>ul]:space-x-10
              [&>ul]:flex [&>ul>li]:flex-shrink-0 [&>ul>li]:w-1/1 [&>ul>li]:md:w-1/2"
          >
            <ContentList content="blog" limit="5" />
          </div>
        </div>
      </section>

      <section class="sticky top-22 h-screen bg-white p-10">
        <h1 class="md:text-7xl text-5xl font-bold text-black">TH0UGHTS:</h1>
        <div
          class="absolute top-1/2 -translate-y-1/2 w-full left-0 right-0 flex p-10"
        >
          <h2 class="md:text-7xl text-5xl font-bold text-black p-5">
            "Uncertainty is an uncomfortable position. But certainty is an
            absurd one."
          </h2>
        </div>
      </section>
      <section class="sticky h-screen top-0 z-10">
        <Footer />
      </section>
    </main>
  </body>
</html>
