---
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE } from "../consts";
---

<header
  class="sticky top-0 z-10 lg:px-16 px-4 bg-white flex flex-wrap items-center py-4 shadow-md"
>
  <div class="flex-1 flex justify-between items-center">
    <h1 class="text-4xl font-bold"><a href="/">{SITE_TITLE}</a></h1>
  </div>

  <label for="menu-toggle" class="pointer-cursor md:hidden block">
    <svg
      class="fill-current text-gray-900"
      xmlns="http://www.w3.org/2000/svg"
      width="20"
      height="90"
      viewBox="0 0 20 20"
    >
      <title>menu</title>
      <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"></path>
    </svg>
  </label>
  <input class="hidden" type="checkbox" id="menu-toggle" />

  <div class="hidden md:flex md:items-center md:w-auto w-full" id="menu">
    <nav>
      <ul
        class="md:flex items-center justify-between text-base text-gray-700 pt-4 md:pt-0"
      >
        <HeaderLink href="/">H0ME</HeaderLink>
        <HeaderLink href="/blog">BL0G</HeaderLink>
        <HeaderLink href="/gameOfLife">PR0JECTS</HeaderLink>
        <HeaderLink href="/about">AB0UT</HeaderLink>
        <HeaderLink href="/contacts">C0NTACTS</HeaderLink>
      </ul>
    </nav>
  </div>
</header>

<style>
  header {
    margin: 0;
    padding: 0 1em;
    background: white;
    box-shadow: 0 2px 8px rgba(var(--black), 5%);
  }
  h2 {
    margin: 0;
    font-size: 1em;
  }

  h2 a,
  h2 a.active {
    text-decoration: none;
  }
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  nav a {
    padding: 1em 0.5em;
    color: var(--black);
    border-bottom: 4px solid transparent;
    text-decoration: none;
  }
  nav a.active {
    text-decoration: none;
    border-bottom-color: var(--accent);
    font-size: x-large;
  }
</style>

<script>

</script>